{% extends 'dummy.html' %}

{% block title %}
   <title>cards</title>
{% endblock %}

{% block body_block %}
          <p style="broder-block:20px">this is the cards html page</p>
          <div class="card" style="width: 18rem;">
            <img src="https://www.shutterstock.com/shutterstock/photos/2427236135/display_1500/stock-photo-the-wave-natural-wonder-at-arizona-utah-border-2427236135.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          {% endblock %}