{% extends 'dummy.html' %}

{% block title %}
   <title>toasts</title>
{% endblock %}
{% block body_block %}
          <p style="broder-block:20px">this is the toasts html page</p>
          <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <img src="..." class="rounded me-2" alt="...">
              <strong class="me-auto">Bootstrap</strong>
              <small>11 mins ago</small>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              Hello, world! This is a toast message.
            </div>
          </div>
          {% endblock %}
